<a href="https://colab.research.google.com/github/CEOApplepine/mega-data-engineering-project/blob/main/Mini%20Projects%201%20%26%202%3A%20Air%20Travel%20and%20Retail/Taxi%20ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ============================================
# MINI PROJECT 1: Air Travel Data ETL Pipeline
# Technologies: Python, Pandas, MongoDB Atlas
# ============================================

# Install required library
!pip install pymongo

import pymongo
import pandas as pd

# ------------------------------
# STEP 1: Connect to MongoDB Atlas
# ------------------------------

# ðŸ”´ IMPORTANT:
# Replace the placeholder string below with your real MongoDB Atlas connection string
# Example:
# mongodb+srv://myUser:MyPass@cluster0.sfdfsdf.mongodb.net/mega_data_project?retryWrites=true&w=majority

connection_string = "mongodb+srv://maitha1almheiri_db_user:dcbbnnJ7FvVt9J3C@cluster0.ksuhfyi.mongodb.net/?appName=Cluster0"

client = pymongo.MongoClient(connection_string)

# Create / connect to database & collection
db = client["mega_data_project"]
collection = db["airtravel_data"]

print("âœ… Connected to MongoDB Atlas")


# ------------------------------
# STEP 2: Load CSV directly from URL
# ------------------------------

csv_url = "https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv"

df = pd.read_csv(csv_url)
print("âœ… CSV loaded successfully!")
print(df.head())


# ------------------------------
# STEP 3: Clean & transform data
# ------------------------------

# Clean column names
df.columns = [col.strip().upper() for col in df.columns]

# Convert numbers to integers
for col in df.columns:
    if col != "MONTH":
        df[col] = pd.to_numeric(df[col], errors="coerce")

print("âœ… Data cleaned and transformed!")


# ------------------------------
# STEP 4: Insert into MongoDB
# ------------------------------

# Remove old records (optional)
collection.delete_many({})

# Insert new data
collection.insert_many(df.to_dict("records"))

print("âœ… Data inserted into MongoDB Atlas!")


# ------------------------------
# STEP 5: Query analysis example
# ------------------------------

print("\nðŸ” Query: Months where Jan passengers > 300\n")

query_result = list(collection.find(
    {"JAN": {"$gt": 300}},
    {"_id": 0, "MONTH": 1, "JAN": 1}
))

print(query_result)

print("\nðŸŽ‰ MINI PROJECT 1 COMPLETED SUCCESSFULLY!")

Requirement already satisfied: pymongo in /usr/local/lib/python3.12/dist-packages (4.15.4)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.12/dist-packages (from pymongo) (2.8.0)
âœ… Connected to MongoDB Atlas
âœ… CSV loaded successfully!
  Month   "1958"   "1959"   "1960"
0   JAN      340      360      417
1   FEB      318      342      391
2   MAR      362      406      419
3   APR      348      396      461
4   MAY      363      420      472
âœ… Data cleaned and transformed!
âœ… Data inserted into MongoDB Atlas!

ðŸ” Query: Months where Jan passengers > 300

[]

ðŸŽ‰ MINI PROJECT 1 COMPLETED SUCCESSFULLY!

In [23]:
# Mini Project 2: Retail & Taxi Dataset Processing
# Technologies: Python, PySpark

!pip install pyspark --quiet

from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pandas as pd

# Step 1: Initialize Spark session
spark = SparkSession.builder.appName("RetailTaxiETL").getOrCreate()
print("Spark Version:", spark.version)

# Step 2: Define CSV URLs
taxi_url = "https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv"
retail_url = "https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv"

# Step 3: Download CSV locally
taxi_local = "airtravel.csv"
retail_local = "addresses.csv"

pd.read_csv(taxi_url).to_csv(taxi_local, index=False)
pd.read_csv(retail_url).to_csv(retail_local, index=False)

# Step 4: Load CSVs into Spark
taxi_df = spark.read.option("header", True).csv(taxi_local)
retail_df = spark.read.option("header", True).csv(retail_local)

# Step 5: Rename taxi columns to clean names
taxi_df = taxi_df.toDF("Month", "1958", "1959", "1960")
print("Cleaned Taxi Columns:", taxi_df.columns)

# Convert year columns to integer
for year in ["1958", "1959", "1960"]:
    taxi_df = taxi_df.withColumn(year, col(year).cast("int"))

# Filter example: months with 1958 passengers > 400
high_1958_df = taxi_df.filter(col("1958") > 400)
print("Months with 1958 passengers > 400:")
high_1958_df.show()

# Step 6: Clean retail columns
retail_df = retail_df.toDF("FirstName","LastName","Street","City","State","ZIP")
print("Cleaned Retail Columns:", retail_df.columns)
retail_selected = retail_df.select("FirstName", "City", "State")
print("Sample Retail Data:")
retail_selected.show(5)

# Step 7: Combine datasets (demo join using row numbers)
from pyspark.sql.functions import monotonically_increasing_id
taxi_df = taxi_df.withColumn("id", monotonically_increasing_id())
retail_selected = retail_selected.withColumn("id", monotonically_increasing_id())

combined_df = taxi_df.join(retail_selected, on="id", how="inner")
print("Combined Dataset Sample:")
combined_df.show(5)

# Step 8: Save results locally
combined_df.write.mode("overwrite").csv("combined_output", header=True)

print("Mini Project 2 complete!")

Spark Version: 3.5.1
Cleaned Taxi Columns: ['Month', '1958', '1959', '1960']
Months with 1958 passengers > 400:
+-----+----+----+----+
|Month|1958|1959|1960|
+-----+----+----+----+
|  JUN| 435| 472| 535|
|  JUL| 491| 548| 622|
|  AUG| 505| 559| 606|
|  SEP| 404| 463| 508|
+-----+----+----+----+

Cleaned Retail Columns: ['FirstName', 'LastName', 'Street', 'City', 'State', 'ZIP']
Sample Retail Data:
+------------------+-------------------+-----------+
|         FirstName|               City|      State|
+------------------+-------------------+-----------+
|              Jack|              Phila|         PA|
| "John ""Da Man"""|          Riverside|         NJ|
|           Stephen|           SomeTown|         SD|
|              NULL|           SomeTown|         SD|
|"Joan ""the bone""|9th, at Terrace plc|Desert City|
+------------------+-------------------+-----------+

Combined Dataset Sample:
+---+-----+----+----+----+------------------+-------------------+-----------+
| id|Month|1958|1959|1960|         FirstName|               City|      State|
+---+-----+----+----+----+------------------+-------------------+-----------+
|  0|  JAN| 340| 360| 417|              Jack|              Phila|         PA|
|  1|  FEB| 318| 342| 391| "John ""Da Man"""|          Riverside|         NJ|
|  2|  MAR| 362| 406| 419|           Stephen|           SomeTown|         SD|
|  3|  APR| 348| 396| 461|              NULL|           SomeTown|         SD|
|  4|  MAY| 363| 420| 472|"Joan ""the bone""|9th, at Terrace plc|Desert City|
+---+-----+----+----+----+------------------+-------------------+-----------+

Mini Project 2 complete!